* {
    font-size:13px; 
    padding: 0;
    margin: 0;
}
img {max-width: 100%; height: auto;}

a {
    text-decoration: none;
    font-weight: 900;
}

ul,
li {
    list-style: none;
}

p {
    display: inline-block;
    margin-right:3px;
}

body {
    background-color: #727272;
}

#goToTop {
    width: 50px;
    height: 50px;
    position: absolute;
    right:-60px;
    top:450px;
    z-index: 100;
}

#body {
    position:relative;
    width: 1008px;
    margin: 150px auto;
    padding: 0 20px;
    background-color: #fff;
}

#bodyBody {
    padding: 50px 30px;
}

#subject {
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}

.subject li {
    border-bottom: 1px dotted #777;
    padding: 20px 0;
    overflow: hidden;
}

.subject>li>div {
    float: left;
}

.relate:hover {
    border-bottom: 1px solid #000;
}

.evalue {
    margin: 0 4px;
    font-family: tahoma;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
}
h1 {font-size:xx-large;}

.subject > li > div > div > a:hover{color: rgb(27, 106, 138); }
.subject > li > div > div > a {color:black; font-size:20px; font-weight: 500;}

.base {overflow:hidden;}

.base p {display:block; float:left;}

.base div {float:left;}

.star {
    background-image: url("../img/star.png");
    background-position: 0 -20px;
    height:12px;
}

.starBase{
    margin-top:3px;
    width:75px;
    background: url(../img/star.png) 0 0 no-repeat;
}

/* #star1 {width:65%;} */

li > div > div > a, 
li > div > div > img
{vertical-align: middle;}

